@import "../styles.scss";

nav {
    height: 3em;
    background-color: $color1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color5;
    font-size: 18px;
    p {
        margin: 0;
        padding: 0.3em 1em;
    }
}


ul {
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    float: right;
    
    li {
        
        padding: 0.92em 1.5em;
        &:hover {
            background-color: lighten($color1, 10%);
            border-bottom: 3px lighten($color1, 50%) solid;
            cursor: pointer;
        }
    }
}